In [55]:
import pandas as pd
import numpy as np
data=pd.DataFrame()
print(data)

Empty DataFrame
Columns: []
Index: []

In [21]:
Name=pd.Series(['Sooriya','Sathees','Yogesh','Tamil'])
Id=pd.Series([105,188,37,101])
frame={'NAME':Name,'ID':Id}
result=pd.DataFrame(frame)
print(result)

      NAME   ID
0  Sooriya  105
1  Sathees  188
2   Yogesh   37
3    Tamil  101

In [22]:
print(result['NAME'])

0    Sooriya
1    Sathees
2     Yogesh
3      Tamil
Name: NAME, dtype: object

In [24]:
result['AGE']=pd.Series([35,40,23,54])
print(result)

      NAME   ID  AGE
0  Sooriya  105   35
1  Sathees  188   40
2   Yogesh   37   23
3    Tamil  101   54

In [25]:
del result['ID']
print(result)

      NAME  AGE
0  Sooriya   35
1  Sathees   40
2   Yogesh   23
3    Tamil   54

In [26]:
print(result.loc[1])

NAME    Sathees
AGE          40
Name: 1, dtype: object

In [27]:
print(result[1:4])

      NAME  AGE
1  Sathees   40
2   Yogesh   23
3    Tamil   54

In [42]:
print(result.drop(2))

      NAME  AGE
0  Sooriya   35
1  Sathees   40
3    Tamil   54

In [43]:
import pandas as sm
import numpy as ms
data=sm.DataFrame([[5,3]]*4,columns=['A','B'])
print(data)

   A  B
0  5  3
1  5  3
2  5  3
3  5  3

In [44]:
data=sm.DataFrame([[48,69]]*3,columns=['A','C'])
print(data)

    A   C
0  48  69
1  48  69
2  48  69

In [51]:
data=sm.DataFrame([[5,3,9],[4,8,2],[3,1,6]],columns=['A','B','C'])

In [46]:
data=sm.DataFrame([['Sooriya',105],['Vignesh',115]],columns=['NAME','ROLL NO'])
print(data)

      NAME  ROLL NO
0  Sooriya      105
1  Vignesh      115

In [47]:
data=sm.DataFrame([[5,3,9],[4,8,2],[3,1,6]],columns=['A','B','C',])
print(data.agg(['min','max']))

     A  B  C
min  3  1  2
max  5  8  9

In [7]:
import pandas as sm
data=sm.DataFrame([['Sooriya',105],['Vignesh',115]],columns=['NAME','ROLL NO'])
data['AGE']=[18,19]
print(data)

      NAME  ROLL NO  AGE
0  Sooriya      105   18
1  Vignesh      115   19

In [15]:
import pandas as pd
import numpy as sm
array=np.array(['C','O','M','P','U','T','E','R'])
a=pd.Series(array)
print(a)

0    C
1    O
2    M
3    P
4    U
5    T
6    E
7    R
dtype: object

In [16]:
array=np.array(['E','n','t','e','r'])
a=pd.Series(array)
print(a)

0    E
1    n
2    t
3    e
4    r
dtype: object

In [4]:
import pandas as pd
import numpy as sm
array={'a':0.,'b':1.,'c':2.,'d':3.}
a=pd.Series(array)
print(a)

a    0.0
b    1.0
c    2.0
d    3.0
dtype: float64

In [5]:
x=pd.Series(69,index=[5,6,8])
print(x)

5    69
6    69
8    69
dtype: int64

In [7]:
a=pd.Series(data=[63,65,106,108])
print(a)
print(a.index)
print(a.values)
print(a.shape)
print(a.ndim)
print(a.size)

0     63
1     65
2    106
3    108
dtype: int64
RangeIndex(start=0, stop=4, step=1)
[ 63  65 106 108]
(4,)
1
4